body {
    background-color: #041e2b;
    color: rgb(188, 194, 211);
    margin: 40px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    background-color: rgb(32, 51, 58);
}